<h1 >Home Screen</h1>
<div style="display: flex">
  <mat-form-field appearance="outline">
    <mat-label>Image Url</mat-label>
    <input
      matInput
      [(ngModel)]="url">
    <mat-icon matSuffix>add_link</mat-icon>
    <mat-hint>(png, gif, etc)</mat-hint>
  </mat-form-field>
  <button
    mat-stroked-button
    (click)="sendClick($event)"
    [disabled]="sendDisabled()">Send</button>
  <img
    [src]="imageUrl"
    (error)="onImgError($event)"
    (load)="onImgLoad($event)"
    style="display: none"/>
</div>
