<mat-form-field
  appearance="outline"
  style="min-width: 75%;">
  <mat-label>Image Url</mat-label>
  <input
    matInput
    [formControl]="control()"
    placeholder="https://example.com/image.(png, gif, webp, jpg)">
  <mat-icon matSuffix>add_link</mat-icon>
</mat-form-field>
<div
  style="padding: 1em; border: 2px solid darkgrey; align-self:stretch" >
  <img
    [src]="imageUrl"
    (error)="onImgError($event)"
    (load)="onImgLoad($event)"
    (abort)="onImgAbort($event)"
    style=" object-fit: contain; max-height: 100%" [style.display]="imgVisible() ? 'block' : 'none'"/>
</div>

